body {
    overflow: scroll;
}

.header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    position: fixed;
}
.tops {
    width: 950px;
    height: 100px;
    text-align: center;
    margin:0 auto;
    z-index: 2;
    background-color: white;

}
.logo {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    /*margin-top: -45px;*/
    /*margin: 0 auto;*/
    background-image: url("./image/symbol.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.menu {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 400px;
    float: left;
    background-image: url("./image/icon_portfolio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 3;
    margin-top: 40px;
}

.profile {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 395px;
    float: right;
    background-image: url("./image/icon_profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 3;
    margin-top: 40px;
}

.white_space {
    width: 950px;
    height: 100px;
    text-align: center;
    margin:0 auto;
    z-index: 2;
    background-color: white;

}

.main_image {
    position: absolute;
    width: 100%;
    height: 800px;
    background-image: url("image/MAIN_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


div.text {

    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: 'Wire One', sans-serif;
    font-weight: 100;
    font-size: 90pt;
    /*border-bottom: 1px;*/
    /*border-bottom-color: gray;*/
    /*line-height: 70px;*/
    display: inline-block;
    color: white;
    position: fixed;
    /*float: left;*/
    left: 50px;
    margin-left: 70px;
    margin-top: 180px;
    z-index: 1;
}

a {
    text-decoration: none;
}

/*body {*/
    /*background-position:100px 0 0 0;*/
/*}*/

/*-----------portfolio-------------------*/

.container {
    width: 960px;
    margin: 0 auto;
}

div .work01 {
    display: inline-block;
    width: 300px;
    height:200px;
    background-image:url("./image/PI_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    margin-top: 200px;
    float: left;
}
div .work02 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image:url("./image/russia2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 200px;
    float: left;
}

div .work03 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image:url("./image/kickit2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    margin-top: 200px;
    float: right;
}

div .work04 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image:url("./image/MAPO.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 100px;
    float: left;
}

div .work05 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image:url("./image/NOTATOY.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 100px;
    float: left;
}

div .work06 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image:url("./image/blacksmith_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 100px;
    float: right;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: #323232;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    /*bottom: 0;*/
}

.contact {
    margin: 0 auto;
    width: 120px;
    height: 30px;
}


.insta {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    float: left;
    background-image: url("./image/icon_insta.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.email {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    float: left;
    background-image: url("./image/icon_email.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.facebook {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    background-image: url("./image/icon_facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

/*-----------profile-------------------*/

.profile_title{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 200px;
    background-image: url("./image/profile_title.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo_bother{
    border-top: 1px;
}